pip install uvicorn
pip install structlog
pip install fastapi
pip install databases
pip install pyyaml
pip install psutil
pip install tenacity
pip install aiofiles
pip install aiosqlite
pip install transformers
